# Node modules
node_modules/
.pnpm-store/
.pnpm-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
# .env
# .env.local
# .env.production

# Firebase
serviceAccountKey.json
firebase-debug.log

# hash-passwords
hash-passwords.js

# uploaded-pictures through database
products
services
gallery

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
pnpm-lock.yaml*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Sequelize
*.sqlite
*.sqlite3

# Temporary files
*.tmp
*.temp

# Coverage
coverage/
